#homeMainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

#homeBody {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#homeTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
  color: rgb(84, 84, 84);
  padding: 0;
  z-index: -1;
}

#homeTitle span {
  top: 20px;
  font-family: "Pacifico", cursive;
  color: white;
  filter: drop-shadow(-2px 4px 2px rgb(4, 150, 255))
    drop-shadow(-2px -2px 2px rgb(255, 188, 66))
    drop-shadow(2px 2px 2px rgb(216, 17, 89));
}

#homeTitle h1 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  color: rgb(4, 150, 255);
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: x-large;
}

#signUpButton {
  position: relative;
  cursor: pointer;
  margin-top: 40px;
  width: 110px;
  height: 40px;
  color: rgb(84, 84, 84);
  font-family: "Pacifico", cursive;
  font-size: large;
  border-radius: 10px;
  color: white;
  border: 0;
  background-image: linear-gradient(
    to right,
    rgb(4, 150, 255),
    rgb(255, 188, 66),
    rgb(216, 17, 89)
  );
  filter: drop-shadow(-2px 4px 1px rgba(84, 84, 84, 0.5))
    drop-shadow(-2px -2px 1px rgba(84, 84, 84, 0.5))
    drop-shadow(2px 2px 1px rgba(84, 84, 84, 0.5));
}

#signUpButton:active {
  filter: drop-shadow(-2px 4px 1px rgb(4, 150, 255))
    drop-shadow(-2px -2px 1px rgb(255, 188, 66))
    drop-shadow(2px 2px 1px rgb(216, 17, 89));
}

#demoTitle {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}

#homeCarousel {
  position: relative;
  margin-top: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.carouselButton {
  position: absolute;
  z-index: 1;
  color: rgb(84, 84, 84);
}

.carouselButton:hover {
  color: lightGrey;
  cursor: pointer;
}

.carouselButton:disabled {
  display: none;
  color: lightgrey;
}

.leftButton {
  left: 52px;
}

.disableButton {
  display: none;
}

.leftButton:disabled {
  display: none;
}

.rightButton {
  right: 52px;
}

#carousel {
  width: 80%;
  display: flex;
  overflow: hidden;
  gap: 0px;
}

.homePic {
  margin: 20px;
  border-radius: 10px;
  margin: 10px 20px;
  width: 250px;
  min-width: 250px;
  height: 200px;
  cursor: pointer;
  filter: drop-shadow(-2px 4px 1px rgb(4, 150, 255))
    drop-shadow(-2px -2px 1px rgb(255, 188, 66))
    drop-shadow(2px 2px 1px rgb(216, 17, 89));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homePicDiv {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.projectThumbnail {
  margin-bottom: 10px;
  height: 400px;
  overflow: hidden;
  object-fit: cover;
}

#featuresContainer {
  margin-top: 50px;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#subheading {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 40px;
}

#features {
  text-align: center;
  width: 80%;
  display: flex;
  gap: 50px;
}

#projectOpen {
  cursor: pointer;
  position: absolute;
  padding: 5px;
  border: 1px solid rgb(84, 84, 84);
  border-radius: 10px;
  background-color: white;
  filter: drop-shadow(-2px 2px 1px rgb(84, 84, 84));
}

.displayButton {
  display: none;
}

#projectOpen:active {
  filter: drop-shadow(-1px 1px 1px rgb(84, 84, 84));
}

#homeFooter {
  position: relative;
  width: 100vw;
}

@media screen and (max-width: 660px) {
  #homeCarousel {
    width: 100%;
  }

  #carousel {
    width: 100%;
  }

  .homePic {
    min-width: 150px;
    height: 200px;
  }
}
